html {
    background-color: white;
    scroll-behavior: smooth;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgb(0, 14, 50);
    padding: 10px 20px;
}
.footer{
    color: white;
    text-align: right;
    display: flex;
    justify-content: right;
    padding: 5px;
}

ul {
    top: 0;
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 14, 50);
    z-index: 1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(45, 170, 225);
}

.logo {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.rmenu {
    float: right;
}

td {
    padding: 10px;
}

hr {
    margin: 75px;
}

h1{
    color: rgb(157, 156, 157);
    animation-duration: 1.5s;
    animation-name: arriver2;
}

h2 {
    color:  rgb(0, 14, 50);
}


.texte {
    color: rgb(0, 14, 50);
    padding: 25px;
    animation-duration: 1.5s;
    animation-name: arriver;
    font-family: Georgia;
}

.section1 {
    background-color: rgb(157, 156, 157);
}

.texte2 {
    color: white;
    margin: 15px;
    animation-duration: 1.5s;
    animation-name: arriver2;
}

@keyframes arriver {
  0% { color: black; }
  100% { color: rgb(0, 14, 50); }
}

@keyframes arriver2 {
  0% { color: white; }
  100% { color: rgb(157, 156, 157); }
}

td > img:hover {
    transform:scale(1.10);
}

td > img {
   transition: all 1s ease;
   z-index: 2;
}

.inputbox {
    position: relative;
    width: 196px;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: rgb(157, 156, 157);
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(45, 170, 225);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
  }

  .titre1{
    animation-duration: 0s;
    color:black;
  }

  button {
    font-size: 20px;
    background-color: white;
    color: black;
    width: 45px;
    height: 45px;
    opacity: 0.75;
    border: 1px solid #e7eae8;
    border-radius: 8px;
    cursor: pointer;
    bottom: 5px;
    margin: 10px;
    position: sticky;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%,
      100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
